.forgot-password-container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #f7f7f7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }
  
  .forgot-password-container h2 {
    font-size: 1.75rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
    text-align: left;
  }
  
  form input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  form input:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  form button[type="submit"] {
    padding: 10px 20px;
    border: none;
    background: #007BFF;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  form button[type="submit"]:hover {
    background: #0056b3;
  }
  
  .success-message {
    color: green;
  }
  
  .error-message {
    color: red;
  }